.headerButton:first-of-type {
  margin-left: auto;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.25rem;
}

.imageList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
