:root {
  --sidebar-width: 30rem;
}

.form {
  display: flex;
  flex-direction: row;
  min-height: 0;
  overflow: hidden;
  flex: 1;
}

.sidebar {
  width: 30rem;
  border-right: 1px solid var(--gray-6);
  background-color: var(--gray-2);
  height: 100vh;
  position: fixed;
}

.templates {
  margin-left: var(--sidebar-width);
  flex: 1;
}
