.container {
  height: 100%;
  display: flex;
}

.tabsRoot {
  display: flex;
  height: 100%;
  overflow-x: hidden;
}

.tabsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-right: 1px solid var(--gray-6);
  flex-shrink: 0;
  padding-top: 0.6rem;
}

.tabsContent {
  padding: 1rem;
  flex: 1;
}
