.label {
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--gray-6);
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 1.25rem;
}

.name {
  font-weight: 600;
}

.description {
  color: var(--gray-11);
}
