@import '@radix-ui/themes/styles.css' layer(radix);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.radix-themes {
  display: flex;
  flex-direction: column;
}
