@import '@radix-ui/themes/styles.css' layer(radix);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
